<%= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
  <div class="form-group">
    <%= f.input :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.input :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.input :password_confirmation, class: 'form-control' %>
  </div>


  <%= f.button :submit %>
<% end %>