<a class="btn btn-primary" href="<%= new_user_path %>">Add New User</a>

<table id="users-list" class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-1">id</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% for @user in @users %>
    <tr>
      <td><%= @user.id %></td>
      <td><%= @user.email %></td>
      <td><%= @user.roles.join(', ') %></td>
      <td>
        <a class="btn btn-primary" href="<%= edit_user_path(@user) %>">Edit</a>
      </td>
    </tr>
  <% end %>
</table>
<%= bootstrap_pagination_for(@products) %>