<h2>User <%= @user.id %> info</h2>
<dl>
  <dt>ID</dt>
  <dd><%= @user.id %></dd>
  <dt>Email</dt>
  <dd><%= @user.email %></dd>
  <dt>Creation time</dt>
  <dd><%= @user.created_at %></dd>
  <dt>Updation time</dt>
  <dd><%= @user.updated_at %></dd>
</dl>

<a href="<%= edit_user_path(@user) %>" class="btn btn-primary">Edit</a>