Edit category # <%= @category.id %>
<% if logged_in?(:admin) %>
  <%= button_to 'Delete ', @category, :method => :delete, class: 'btn btn-danger pull-right' %>
<% end %>

<%= render partial: 'form', category: @category %>