<a class="btn btn-primary" href="<%= new_category_path %>">Add New Category</a>

<table id="categories-list" class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-1">id</th>
      <th class="col-md-1">Name</th>
      <th class="col-md-2">Actions</th>
    </tr>
  </thead>
  <% for @category in @categories %>
    <tr>
      <td><%= @category.id %></td>
      <td><%= @category.name %></td>
      <td>
        <a class="btn btn-primary" href="<%= edit_category_path(@category) %>">Edit</a>
      </td>
    </tr>
  <% end %>
</table>
<%= bootstrap_pagination_for(@products) %>