<h2>Category <%= @category.id %> info</h2>
<dl>
  <dt>ID</dt>
  <dd><%= @category.id %></dd>
  <dt>Name</dt>
  <dd><%= @category.name %></dd>
  <dt>Creation time</dt>
  <dd><%= @category.created_at %></dd>
  <dt>Updation time</dt>
  <dd><%= @category.updated_at %></dd>
</dl>

<a href="<%= edit_category_path(@category) %>" class="btn btn-primary">Edit</a>