<%= simple_form_for(@product, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :image_cache, as: 'hidden' %>
  <div class="form-group">
    <%= f.input :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :description, class: 'form-control' %>
  </div>

  <dif class="form-group">
    <%= f.association :categories,
          collection: Category.all,
          input_html: { class: 'multiselectuser'}
    %>
  </dif>

  <div class="form-group">
    <%= image_tag(@product.image_url) if @product.image? %>
    <%= f.input :image, class: 'form-control' %>
  </div>

  <%= f.button :submit %>
<% end %>