<table id="products-list" class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-1">id</th>
      <th class="col-md-2">Image</th>
      <th class="col-md-1">Name</th>
      <th class="col-md-1">Price</th>
      <th class="col-md-2">Categories</th>
      <th class="col-md-3">Description</th>
      <th class="col-md-2">Actions</th>
    </tr>
  </thead>
    <% for @product in @products %>
      <tr>
        <td><%= @product.id %></td>
        <td>
          <% if @product.image? %>
            <img src="<%= @product.image.thumb.url %>" alt="<%= @product.name %>">
          <% else %>
            No image available
          <% end %>
        </td>
        <td><%= @product.name %></td>
        <td><%= @product.price %></td>
        <td>
          <ul>
            <% @product.categories.each do |category| %>
              <li> <%= category.name %> </li>
            <% end %>
          </ul>
        </td>
        <td><%= @product.description %></td>
        <td>
          <a class="btn btn-primary" href="<%= edit_product_path(@product) %>">Edit</a>
        </td>
      </tr>
    <% end %>
</table>
<%= bootstrap_pagination_for(@products) %>