Edit product # <%= @product.id %>
<% if logged_in?(:admin) %>
  <%= button_to 'Delete ', @product, :method => :delete, class: 'btn btn-danger pull-right' %>
<% end %>
<%= render partial: 'form', product: @product %>