<h2>Product <%= @product.id %> info</h2>
<div class="row">
  <div class="col-md-3">
    <dl>
      <dt>ID</dt>
      <dd><%= @product.id %></dd>
      <dt>Name</dt>
      <dd><%= @product.name %></dd>
      <dt>Price</dt>
      <dd><%= @product.price%></dd>
      <dt>Description</dt>
      <dd><%= @product.description %></dd>
      <dt>Categories</dt>
      <dd>
        <% unless @product.categories.any? %>
          No categories
        <% end %>

        <ul>
          <%  @product.categories.each do |category| %>
            <li>
              <%= category.name %>
            </li>
          <% end %>
        </ul>
      </dd>
      <dt>Creation time</dt>
      <dd><%= @product.created_at %></dd>
      <dt>Updation time</dt>
      <dd><%= @product.updated_at %></dd>
    </dl>
  </div>
  <div class="col-md-9">
    <img
      src="<%= @product.image.url %>"
      alt="<%= @product.name %>"
    >
  </div>
</div>


<a href="<%= edit_product_path(@product) %>" class="btn btn-primary">Edit</a>